@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-ExtraBold.ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral;
  @apply font-thicccboi;
}
