@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'thicccboi';
  src: url('../fonts/THICCCBOI-ExtraBold.ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral;
  @apply font-thicccboi;
}

.gradient-color {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-gradient-color-1 via-gradient-color-2 to-gradient-color-3;
}

.gradient-bg-1 {
  background-image: url('/images/w4.png'),
    linear-gradient(135deg, #6ac9ff 4%, #819dff 51%, #a55dff 98%);
  background-position: 50% 0, 0 0;
  background-size: cover, auto;
}
.gradient-bg-2 {
  background-image: url('/images/w4.png'),
    linear-gradient(135deg, #ffba6a 4%, #ffba6a 4%, #ff69de 98%);
  background-position: 50% 0, 0 0;
  background-size: cover, auto;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-95%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 60s linear infinite;
}
